[Unit]
Description= Brew Service
Needs=network.target
Needs=bluetooth.target
After=network.target
After=bluetooth.target

[Service]
Type=simple
WorkingDirectory=/home/marius/brew
ExecStart=/usr/bin/python3 -u  /home/marius/brew/start.py 
[Install]
WantedBy=multi-user.target

